<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <title>Debatte Starten</title>
</head>
<body>
<div class="container">
    <form th:action="@{/debatteStarten}" method="POST" class="form-horizontal">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" th:text="'Debatte Starten'"></h4>

                <label for="kategorie">Kategorie:</label>
                <select id="kategorie">
                    <option value="alle">Alle</option>
                </select>

                <label for="thema">Thema:</label>
                <select id="thema">
                    <option value="alle">Alle</option>
                </select>

                <div class="row form-group">
                    <div class="col-12 col-md-6">
                        <label>Titel</label>
                        <input type="text" id="titel" name="titel"  th:placeholder="'Titel'" class="form-control"/><br/>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-12 col-md-6">
                        <label>Problemstellung</label>
                        <input type="text" id="problemstellung" name="problemstellung"  th:placeholder="'Problemstellung'" class="form-control"/><br/>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-12 col-md-6">
                        <label>Lösungsstrategie</label>
                        <input type="text" id="Loesungsstrategie" name="Loesungsstrategie"  th:placeholder="'Lösungsstrategie'" class="form-control"/><br/>
                    </div>
                </div>

                <label>
                    Stichtag/-uhrzeit:
                    <input type="datetime-local" name="stichtag">
                </label>

                <label for="bundesland">Bundesland:</label>
                <select id="bundesland">
                    <option value="alle">Alle</option>
                    <option value="baden_wuerttemberg">Baden-Württemberg</option>
                    <option value="bayern">Bayern</option>
                    <option value="berlin">Berlin</option>
                    <option value="brandenburg">Brandenburg</option>
                    <option value="bremen">Bremen</option>
                    <option value="hamburg">Hamburg</option>
                    <option value="hessen">Hessen</option>
                    <option value="mecklenburg_vorpommen">Mecklenburg Vorpommen</option>
                    <option value="niedersachsen">Niedersachsen</option>
                    <option value="norderhein_westfalen">Nordrhein-Westfalen</option>
                    <option value="rheinland_pfalz">Rheinland-Pfalz</option>
                    <option value="saarland">Saarland</option>
                    <option value="sachsen_anhalt">Sachsen-Anhalt</option>
                    <option value="sachsen">Sachsen</option>
                    <option value="schleswig_holstein">Schleswig Holstein</option>
                    <option value="thueringen">Thüringen</option>
                </select>

            </div>

        </div>
        <div class="card-footer">
            <button name="Submit" value="Debatte Starten" type="Submit" th:text="'Debatte Starten'" class="btn btn-primary"></button>
        </div>
        <div class="card-footer">
            <button name="Submit" value="Zurück" type="Submit" th:text="'Zurück'" class="btn btn-primary"></button>
        </div>

    </form>
</div>
</body>
</html>>
