<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <title>Real Democracy</title>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" th:text="'Real Democracy'"></h4>

            <form th:action="@{/home/change}" method="POST">
                <label for="sektor">Sektor:</label>
                <select id="sektor" name="sektor">
                    <option value="Alle">Alle</option>
                    <option value="Ministerium_für_Kultur_und_Freizeit">Ministerium_für_Kultur_und_Freizeit</option>
                </select>
                &nbsp;
                <button name="change" type="submit" th:text="Ändern"></button>
            </form>
        </div>

        <label th:text="${username}"></label>
        <p></p>
        <label>Hier sehen Sie die neusten Debatten:</label>
        <p></p>

        <div th:each="debatte: ${debatten}">
            <form th:action="@{/home/debatte}" method="POST">
                <button name="debatten_Id" th:value="${debatte.getDebatteId()}"
                        type="submit" th:text="${debatte.getTitel()}"></button>
            </form>
            <p></p>
        </div>

        <p></p>
        <p></p>

        <a href="/debatteStarten">Debatte Starten</a>
        <a href="/profilAnpassen">Profil Anpassen</a>
        <a href="/logout">Logout</a>
    </div>
</div>
</body>
</html>>