<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <title>Real Democracy</title>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" th:text="'Real Democracy'"></h4>

            <label for="kategorie">Kategorie:</label>
            <select id="kategorie">
                <option value="alle">Alle</option>
            </select>
            &nbsp; &nbsp;

            <label for="thema">Thema:</label>
            <select id="thema">
                <option value="alle">Alle</option>
            </select>
        </div>

        <div th:each="debatte: ${debatten}">
            <form th:action="@{/home/debatte}" method="POST">
                <button name="debatten_Id" th:value="${debatte.get_Debatte_Id()}"
                        type="submit" th:text="${debatte.get_Titel()}"></button>
            </form>
            <p></p>
        </div>

        <p></p>
        <p></p>

        <a href="/debatteStarten">Debatte Starten</a>
        <a href="/profilAnpassen">Profil Anpassen</a>

        <form th:action="@{/home/login}" method="POST" class="form-horizontal">
            <div class="card-footer">
                <button name="Logout" type="Submit" th:text="'Logout'" class="btn btn-primary"></button>
            </div>
        </form>
    </div>
</div>
</body>
</html>>