<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <title>Login</title>
</head>
<body>
<div class="container">
    <form th:action="@{/login/home}" id="login" method="post" class="form-horizontal">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" th:text="'Real Democracy'"></h4>

                <div class="row form-group">
                    <div class="col-12 col-md-6">
                        <label>E-Mail-Adresse</label>
                        <input name="e_mail" type="text"
                               th:placeholder="'E-Mail-Adresse'" class="form-control"/><br/>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-12 col-md-6">
                        <label>Passwort</label>
                        <input name="passwort" type="text" th:placeholder="'Passwort'"
                               class="form-control"/><br/>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <button name="Login" type="submit" th:text="'Login'" class="btn btn-primary"></button>
            </div>

            <a href="/registrierung">Registrierung</a>
            <a href="/passwortVergessen">Passwort Vergessen</a>
        </div>
    </form>
</div>
</body>
</html>>