<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <title>Profil Anpassen</title>
</head>
<body>
<div class="container">
    <form th:action="@{/usernameAnpassen/home}" method="POST" class="form-horizontal">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" th:text="'Profil Anpassen'"></h4>

                <div class="row form-group">
                    <div class="col-12 col-md-6">
                        <label>Neue E-Mail-Adresse</label>
                        <input type="text" name="newUsername" th:placeholder="'Neuer Benutzername'"
                               class="form-control"/><br/>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-12 col-md-6">
                        <label>E-Mail-Adresse Bestätigen</label>
                        <input type="text" name="usernameBestaetigen" th:placeholder="'Benutzername Bestätigen'"
                               class="form-control"/><br/>
                    </div>
                </div>

                <div class="card-footer">
                    <button name="Submit" type="Submit" th:text="'Benutzername Ändern'" class="btn btn-primary"></button>
                </div>
            </div>
        </div>
    </form>


    <form th:action="@{/passwordAnpassen/home}" method="POST" class="form-horizontal">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" th:text="'Profil Anpassen'"></h4>

                <div class="row form-group">
                    <div class="col-12 col-md-6">
                        <label>Altes Passwort</label>
                        <input type="password" name="oldPassword" th:placeholder="'Altes Passwort'"
                               class="form-control"/><br/>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-12 col-md-6">
                        <label>Neues Passwort</label>
                        <input type="password" name="newPassword" th:placeholder="'Neues Passwort'"
                               class="form-control"/><br/>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-12 col-md-6">
                        <label>Passwort Bestätigen</label>
                        <input type="password" name="passwordBestaetigen" th:placeholder="'Passwort Bestätigen'"
                               class="form-control"/><br/>
                    </div>
                </div>

                <div class="card-footer">
                    <button name="Submit" type="Submit" th:text="'Passwort Ändern'" class="btn btn-primary"></button>
                </div>
            </div>
        </div>
    </form>

    <form th:action="@{/bundeslandAnpassen/home}" method="POST" class="form-horizontal">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" th:text="'Profil Anpassen'"></h4>

                <label for="bundesland">Bundesland:</label>
                <select id="bundesland" name="bundesland">
                    <option value="alle">Alle</option>
                    <option value="baden_wuerttemberg">Baden-Württemberg</option>
                    <option value="bayern">Bayern</option>
                    <option value="berlin">Berlin</option>
                    <option value="brandenburg">Brandenburg</option>
                    <option value="bremen">Bremen</option>
                    <option value="hamburg">Hamburg</option>
                    <option value="hessen">Hessen</option>
                    <option value="mecklenburg_vorpommen">Mecklenburg Vorpommen</option>
                    <option value="niedersachsen">Niedersachsen</option>
                    <option value="norderhein_westfalen">Nordrhein-Westfalen</option>
                    <option value="rheinland_pfalz">Rheinland-Pfalz</option>
                    <option value="saarland">Saarland</option>
                    <option value="sachsen_anhalt">Sachsen-Anhalt</option>
                    <option value="sachsen">Sachsen</option>
                    <option value="schleswig_holstein">Schleswig Holstein</option>
                    <option value="thueringen">Thüringen</option>
                </select>

                <div class="card-footer">
                    <button name="Submit" type="Submit" th:text="'Bundesland Ändern'" class="btn btn-primary"></button>
                </div>
            </div>
        </div>
    </form>

    <a href="/home">Zurück</a>
</div>
</body>
</html>>