<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <title>Benutzername Vergessen</title>
</head>
<body>
<div class="container">
    <form th:action="@{/usernameVergessen/login}" method="POST" class="form-horizontal">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" th:text="'Benutzername Vergessen'"></h4>

                <div class="row form-group">
                    <div class="col-12 col-md-6">
                        <label>Ausweisnummer</label>
                        <input type="text" name="ausweisnummer"  th:placeholder="'Ausweisnummer'" class="form-control"/><br/>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-12 col-md-6">
                        <label>Passwort</label>
                        <input type="password" name="password"  th:placeholder="'Passwort'" class="form-control"/><br/>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-12 col-md-6">
                        <label>Neuer Benutzername</label>
                        <input type="text" name="newUsername"  th:placeholder="'Neuer Benutzername'" class="form-control"/><br/>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-12 col-md-6">
                        <label>Benutzername Bestätigen</label>
                        <input type="text" name="usernameBestaetigen"  th:placeholder="'Benutzername Bestätigen'" class="form-control"/><br/>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <button name="Submit" value="Bestätigen" type="Submit" th:text="'Bestätigen'" class="btn btn-primary"></button>
            </div>

            <a href="/login">Zurück</a>
        </div>
    </form>
</div>
</body>
</html>>
